
.add-event-data {

    width: 50%;
    border: solid;
    float: right;
    padding: 10px;
    height: 382px;
}

.add-event-map {
    float: right;
    width: 50%;
    border: solid;
    min-height: 260px;
    height: 382px;
}

#map {
    min-height: 378px;
    width: 100%;

}
#floating-panel {
    position: absolute;
    top: 90px;
    right: 20%;
    z-index: 5;
    padding: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}