
.add-event-data {
    width: 100%;
    float: right;
    height: 372px;
    padding: 5px 20px 20px 5px;
    box-sizing: padding-box;
    border: solid 1px #dbdbdb;
    border-radius: 4px;
}


#map {
    height: 250px;
    width: 100%;

}
#dvGeneralmap {
    height: 300px;
    width: 100%;

}
#floating-panel {
    position: absolute;
    bottom: 55px;
    left: -1%;
    z-index: 5;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

.main-map .section {
    padding: 0;
    border: solid 1px #dbdbdb;
    border-radius: 4px;
    text-align: center;
}
.main-map .section div{
    text-align: center;
}
.section.map-panel.event-details-pnl .container{
    width: inherit;
}