
.error {
    color: red;
}

.nodisplay {
    display: none;
}

.have-top-padding {
    padding: 4% 0 0 0;
}

.upcoming-pnl, .live-pnl, .enrolled-pnl, .myrides-pnl {
    width: 55%;
}

.live-pnl, .enrolled-pnl, .myrides-pnl {
    display: none;
}

.enrolled-event-btn {
    visibility: hidden;
}

.start-my-event-btn, .finish-my-event-btn, .enrolled-event-btn,
.resume-my-event-btn, .completed-my-event-btn, .flag-my-event-btn,
.join-upcoming-event-btn, .join-live-event-btn {
    width: 100px;
    height: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

img.logo-img {
    width: 150px;
    margin:15px;
}

