.username-txt {
    float: right;
    margin-top: 45px;
    margin-right: 25px;
}

.username-icon {
    float: right;
    margin-top: 49px;
    font-size: 2.5em;
}

.logo-img {
    width: 12%;
    height: 12%;
    padding: 15px 0px;
}

.error {
    color: red;
}

.nodisplay {
    display: none;
}

.upcoming-pnl {
    width: 55%;
}

.live-pnl {
    width: 55%;
    display: none;
}
.add-event-data{

    width: 50%;
    border: solid;
    float: right;
}
.add-event-map{
    float: right;
    width: 50%;
    border: solid;
}