
.error {
    color: red;
}

.nodisplay {
    display: none;
}

.upcoming-pnl, .live-pnl, .enrolled-pnl, .myrides-pnl {
    width: 55%;
}

.live-pnl, .enrolled-pnl, .myrides-pnl {
    display: none;
}

.enrolled-event-btn {
    visibility: hidden;
}

.start-my-event-btn, .finish-my-event-btn,
.resume-my-event-btn, .completed-my-event-btn,
.join-upcoming-event-btn, .join-live-event-btn {
    width: 100px;
}